/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
env
public/file.pdf
public/factura_nikken.pdf
composer.json
composer.lock
public/testpdf.pdf
public/extraido/PDF.pdf
public/extraido/QR.jpg
public/test.xlsx
public/viaje_japon_Grupo_2_v_23.xlsx
credentials.json
public/credentials.json