/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
env
public/file.pdf
public/factura_nikken.pdf
composer.json
composer.json
composer.lock
public/testpdf.pdf
